---
title: Menu
layout: component
---


<p class="lead">A list of commands or options that do not need to be displayed at all times. These 
commands and options are organized for the user's ease of access.</p>

<div class="row">
  <div class="col-sm-6">
  
 <h3>Typical Appearance</h3>
 
 <blockquote>Menus are most easily accessed through toolbars on the top of the screen for most
 devices. Toolbars usually have general labels that hide away similar preferences for a user to access 
 once these labels are clicked on. Menus can also be hidden and accessed by right clicking a mouse. 
 This drops down a (usually more limited) list of options to choose from.</blockquote>
 
 
<h3>Typical Behavior</h3>

<blockquote>
  <p>Menus are organized into different labelled sections. When a menu is opened, it usually lists several 
  different options that have to do with the access button label. For example, a common access button label across 
  platforms is "File". When the "File" menu is opened, common options include "Save as..", "Save..", or 
  "Open..". All these options have to do with behaviours that affect the File that is opened. Most menu options lead 
  to a different screen that help users personalize settings specifically to their needs. </p>
  
  

</blockquote>

<h4>Events</h4>


<blockquote>An <em>event</em> is something that can happen to a user interface component. They are both conceptual and
  highly concrete in that events very frequently translate directly into a user interface component’s API.</blockquote>

<p>The most relevant menu event is the <code>onClick</code>. A <code>onClick</code> event indicates that the user has
  triggered the button.</p>
  
 </div>
 
 <div class="col-sm-6">
<h3>Variants</h3>
    <li><em>Buttons</em> are similar to menus. When a button is triggered, it can also open up new screens that contain 
    options. However, buttons are not as broad as menus. Menus provide the user with organized information that allows 
    them to change settings where buttons are just triggers that help save settings.</li>
    
 <h3>Priority Metrics</h3>

 <p>Menus are used on almost every screen that users come into contact with. Because of this fact, menus should be easy 
 to understand and learn. Labels should be clear and concise so that memorability of grouped commands and options make 
 sense to the user when they are searching for something specific.</p>
 
 <p>The user's efficiency with the menu should be one of the most important priorities because the more complex a menu 
 becomes, (such as hierarchical menus that use hovering) the more difficulty a user will have. The menu can become prone 
 to errors in this way if the user is not easily adapted to the organization or setup of a menu. Satisfaction from users 
 will be tied to the amount of time it takes them to complete their tasks.</p>
 
 
 